**Loops**
- iterate a pice of code until the condition satisfy
- we can run a code normally
- we can run a code normally function wrapper (functions)
- we can run a code multiple times (loops)
- we can run a code by using conditions also

- for loop
- while loop
- any loop we have to follow
  - initial point to start the loop
  - increment or decrement
  - condition to stop

**For Loop**

- pattern - 1

In [ ]:
#syntax
for i in range(<value>):
    #start write your code here

- when ever you see the word range it belons to maths family
- inside range we need to provied one value ex: range(3)
- if you provide only one value 
    - start value=0
    - increment = +1
    - last = stop-1
- range(3)
     - start value=0
    - increment = 1
    - last = 3-1 = 2
    - answer are : 0 1 2
**Note the index always starts with zero**

In [ ]:
for i in range(3):
    print(i)

In [ ]:
#print hello 5 times
for i in range(5):
    print("hello")

In [1]:
#example take a random number b/w 1 to100 print it is a even or odd
#you need to generate 3 random numbers
import random
for i in range(3):
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

96 is even
57 is odd
8 is even

In [ ]:
for i in range(10):
    print(i,end=" ")

$Pattern-2$
**range(start,stop)**
- range(10,20)
- start value = 10
- increment = 1
- last=stop-1 = 20-1=19
- ans:10 11 12 13 14 15 16 17 18 19

In [ ]:
for i in range(10,20):
    print(i,end=' ')

In [2]:
#wap ask the user print the square of the numbers 
#between 20 to 25
for i in range(20,25):
    num=i*i
    print(num,end=' ')

400 441 484 529 576

In [ ]:
for i in range(10,20):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

In [ ]:
for i in range(20,25):
    print(f"the square of {i} is",i*i)

$Pattern-3$

**range(start,stop,step)**
- start value = start value
- step value 
   - positive step value
       - if step value is positive: increment
       - last = stop -1
   - negative step value
        - if step value is negative : decrement
        - last=stop+1

In [3]:
#case-1
for i in range(2,20,2):
    print(i,end=' ')
#start = 2
#step +ve 2
#last= stop-1= 20-1=19
#2 4 6 8 10 12 14 16 18

2 4 6 8 10 12 14 16 18

In [ ]:
for i in range(2,20,1):
    print(i,end=' ')

In [ ]:
#case-2
for i in range(2,20,-2):
    print(i,end=' ')
#start = 2
#step -ve 2 negative direction
#last = stop+1=20+1=21

In [ ]:
for i in range(20,2,-2):
    print(i,end=' ')
#start=20
#step -ve negative direction
#last = stop+1=2+1=3)

In [ ]:
#case-4
for i in range(-20,2,-2):
     print(i,end=' ')

In [ ]:
for i in range(2,20,2):
    print(i,end=' ')

In [4]:
#wap ask the user enter number three times find the square of the number

for i in range(3):
    num=eval(input("enter a number:"))
    print(f"the square of {num} is {num*num}")

enter a number: 5

the square of 5 is 25

enter a number: 6

the square of 6 is 36

enter a number: 7

the square of 7 is 49

In [ ]:
# print the 14th table
#14 x 1 =14
#14 x 2 =28
#
#
#
#14 x 10 = 140
num=eval(input("enter the which you eant to see:"))
for i in range(1,11):
     value=i * num
     print(f"{num} xb {i} = {value}")

In [2]:
#6 find the factors of 75
#step-1 : iterarte the loop = which numbers factors u want
#step - 2 : apply the if condition divide the number with each i
num=eval(input("enter which number factorial you want:"))
for i in range(1,num+1):
    if num%i==0:
        print(f"{i} is the divisor of {num}")

enter which number factorial you want: 75

1 is the divisor of 75
3 is the divisor of 75
5 is the divisor of 75
15 is the divisor of 75
25 is the divisor of 75
75 is the divisor of 75

In [1]:
#7 write the sum of first 10 natural number
# 1to 10
# 1+2+3+4+5+6+7+8+9+10=55
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ} + {i} = {summ}")

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
45 + 9 = 45
55 + 10 = 55

**Summation wrapper**
- initially we need to keep summ=0
- make sure that do not provide **sum**
- because sum is key word 
- inside for loop : summ=summ+i

In [ ]:
summ=0
for i in range(1,11):
    summ=summ+i

print(summ)

In [ ]:
for i in range(3):
    print(i)
i

**Note**
- if we print answer from out of for loop ,last asnwer will print

In [1]:
#8 average of first 10 numbers
#avg= summation of all numbers /total numbers
#wap to print avg of n numbers
summ=0
n=eval(input("enter the number"))
for i in range(1,n+1):
    summ=summ+i
print(summ/n)

enter the number 10

5.5

**Counter wrapper**
- before for loop initialaise with count=0
- under for loop count=count+1
- counter always increase  by only

In [2]:
#9 find no of divisors of 75
#ans;1,3,5,15,25,75
#number = 6
count=0
num=eval(input("enter a number"))
for i in range(1,76):
    if num%i==0:
        count=count+1
print(count)

enter a number 75

6

In [ ]:
#case-3
#suppose i want to give 4 chances 
#every time you fail i want to display
#number of chances left
#if all the chances you are used
#try again agter 24 hours
#if you won
import random
for i in range(4):
    num=random.randint(1,4)
    num1=eval(input("enter a number:"))
    if num!=num1:
        print("you lost")
        print(f"{3-i} of chances left")
    elif num==num1:
        print("you won")
        break
if i==3:
    print("try again after 24 hours")

In [2]:
#wap ask the user get 5 random numbers
#get it is an even number or odd number
#also count how many even numbers are there
#and count how many odd numbers are there
#Idea
#take two counters one even and odd count
#for loop 5 times
#each time takes the random number
#if condition 
#True conuter update
#else
#update the counter
import random
summ=0
even_count=0
odd_count=0
even_summ=0
odd_summ=0
for i in range(0,5):
    num=random.randint(1,100)
    if num%2==0:
        summ=summ+num
        #print("even number")
        even_count=even_count+1
        even_summ=even_summ+num
    else:
        odd_count=odd_count+1
        odd_summ=odd_summ+num

print(f"the total number of even numbers are" ,{even_count})
print(f"the total number of odd numbers are" , {odd_count})
print(f"the summation of even numbers is",{even_summ})
print(f"the summation of odd numbers is ",{odd_summ})

the total number of even numbers are {2}
the total number of odd numbers are {3}
the summation of even numbers is {78}
the summation of odd numbers is  {197}

In [6]:
#create function on above code


import random

def even_odd():
    even_count=0
    odd_count=0
    even_sum=0
    odd_sum=0
    for i in range(0,5):
        num=random.randint(1,100)
        if num%2==0:
            sum=sum+num
            #print("even number")
            even_count=even_count+1
            even_sum=even_sum+num
        else:
            odd_count=odd_count+1
            odd_sum=odd_sum+num
    return(even_count,odd_count,even_sum,odd_sum)
even_count,odd_count,even_sum,odd_sum
print(f"the total number of even numbers are" ,{even_count})
print(f"the total number of odd numbers are" , {odd_count})
print(f"the summation of even numbers is",{even_summ})
print(f"the summation of odd numbers is ",{odd_summ})

NameError: name 'even_count' is not defined

In [5]:
even_count,odd_count,even_sum,odd_sum
print(f"the total number of even numbers are" ,{even_count})
print(f"the total number of odd numbers are" , {odd_count})
print(f"the summation of even numbers is",{even_summ})
print(f"the summation of odd numbers is ",{odd_summ})

NameError: name 'even_count' is not defined

**in operator**

In [5]:
string1='python'
'p' in string1
'y' in string1
i in string1

True

In [3]:
for i in string1:
    print(i)

p
y
t
h
o
n

**difference b/w in in operator and range operator**
- range belongs to math family
- inside range we have to keep numbers only
- whenever if we want iterarte throungh a english letters
- we need to choose $in$ operator
- range means number
- in means strings

In [6]:
'p'>'P'

True

- every english letter 
- every spl character how machine will understand
- machine language always consider as numbers
- evrey non numeric assign a number
- ASCII: american standard code for information interchange
- A : 65, a:97

**ord-chr**

In [ ]:
A == 65 == 0b1000001

In [8]:
0b1000001

65

In [10]:
ord('A'),ord('a')

(65, 97)

In [11]:
ord('p'),ord('P')

(112, 80)

In [12]:
'p'>'P' #112<80

True

In [17]:
chr(112),chr(80),chr(65),chr(97)

('p', 'P', 'A', 'a')

In [14]:
chr(80)

'P'

In [15]:
chr(65)

'A'

In [16]:
chr(97)

'a'

In [23]:
#i want
summ=0
for i in 'python':
    summ=summ+ord(i)
    
    print(f"the ASCII number for {i} is {ord(i)}")
print(summ)

the ASCII number for p is 112
the ASCII number for y is 121
the ASCII number for t is 116
the ASCII number for h is 104
the ASCII number for o is 111
the ASCII number for n is 110
674

In [ ]:
# i want to know all ascii number from A to Z

In [24]:
#package called:string
#import the package
#apply the dir
#there are some methods are there
#in that one method will capital letters

import string
for in ascii_uppercase:

In [26]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [30]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [34]:
for i in string.ascii_uppercase:
    print(i,ord(i))

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [36]:
for i in string.ascii_lowercase:
    print(i,ord(i),end=' ')

a 97 b 98 c 99 d 100 e 101 f 102 g 103 h 104 i 105 j 106 k 107 l 108 m 109 n 110 o 111 p 112 q 113 r 114 s 115 t 116 u 117 v 118 w 119 x 120 y 121 z 122

In [40]:
for i in string.punctuation:
    print(i,ord(i),end=' ')

! 33 " 34 # 35 $ 36 % 37 & 38 ' 39 ( 40 ) 41 * 42 + 43 , 44 - 45 . 46 / 47 : 58 ; 59 < 60 = 61 > 62 ? 63 @ 64 [ 91 \ 92 ] 93 ^ 94 _ 95 ` 96 { 123 | 124 } 125 ~ 126

In [38]:
for i in range(33,126):
    print(i,chr(i),end='==>')

33 !==>34 "==>35 #==>36 $==>37 %==>38 &==>39 '==>40 (==>41 )==>42 *==>43 +==>44 ,==>45 -==>46 .==>47 /==>48 0==>49 1==>50 2==>51 3==>52 4==>53 5==>54 6==>55 7==>56 8==>57 9==>58 :==>59 ;==>60 <==>61 ===>62 >==>63 ?==>64 @==>65 A==>66 B==>67 C==>68 D==>69 E==>70 F==>71 G==>72 H==>73 I==>74 J==>75 K==>76 L==>77 M==>78 N==>79 O==>80 P==>81 Q==>82 R==>83 S==>84 T==>85 U==>86 V==>87 W==>88 X==>89 Y==>90 Z==>91 [==>92 \==>93 ]==>94 ^==>95 _==>96 `==>97 a==>98 b==>99 c==>100 d==>101 e==>102 f==>103 g==>104 h==>105 i==>106 j==>107 k==>108 l==>109 m==>110 n==>111 o==>112 p==>113 q==>114 r==>115 s==>116 t==>117 u==>118 v==>119 w==>120 x==>121 y==>122 z==>123 {==>124 |==>125 }==>

In [41]:
for i in range(3078,3178):
    print(i,chr(i),end='==>')

3078 ఆ==>3079 ఇ==>3080 ఈ==>3081 ఉ==>3082 ఊ==>3083 ఋ==>3084 ఌ==>3085 ఍==>3086 ఎ==>3087 ఏ==>3088 ఐ==>3089 ఑==>3090 ఒ==>3091 ఓ==>3092 ఔ==>3093 క==>3094 ఖ==>3095 గ==>3096 ఘ==>3097 ఙ==>3098 చ==>3099 ఛ==>3100 జ==>3101 ఝ==>3102 ఞ==>3103 ట==>3104 ఠ==>3105 డ==>3106 ఢ==>3107 ణ==>3108 త==>3109 థ==>3110 ద==>3111 ధ==>3112 న==>3113 ఩==>3114 ప==>3115 ఫ==>3116 బ==>3117 భ==>3118 మ==>3119 య==>3120 ర==>3121 ఱ==>3122 ల==>3123 ళ==>3124 ఴ==>3125 వ==>3126 శ==>3127 ష==>3128 స==>3129 హ==>3130 ఺==>3131 ఻==>3132 ఼==>3133 ఽ==>3134 ా==>3135 ి==>3136 ీ==>3137 ు==>3138 ూ==>3139 ృ==>3140 ౄ==>3141 ౅==>3142 ె==>3143 ే==>3144 ై==>3145 ౉==>3146 ొ==>3147 ో==>3148 ౌ==>3149 ్==>3150 ౎==>3151 ౏==>3152 ౐==>3153 ౑==>3154 ౒==>3155 ౓==>3156 ౔==>3157 ౕ==>3158 ౖ==>3159 ౗==>3160 ౘ==>3161 ౙ==>3162 ౚ==>3163 ౛==>3164 ౜==>3165 ౝ==>3166 ౞==>3167 ౟==>3168 ౠ==>3169 ౡ==>3170 ౢ==>3171 ౣ==>3172 ౤==>3173 ౥==>3174 ౦==>3175 ౧==>3176 ౨==>3177 ౩==>

In [1]:
#wap ask the user enter a number three times find the square of the number

for i in range(3):
    num=eval(input("enter the numbers:"))
    print(f"the square of {num} is {num*num}")

enter the numbers: 5

the square of 5 is 25

enter the numbers: 6

the square of 6 is 36

enter the numbers: 7

the square of 7 is 49

In [7]:
#5 print the 14 table 
#ans 14 x 1 =14
# 
#
#
# 14 x 10 =140
num=eval(input("enter table to be printed:"))
for i in range(1,11):
    a=num*i
    print(f"{num} x {i} = {a}")

enter table to be printed: 14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [8]:
num=15
for i in range(1,11):
    a=num-i
    print(f"{num} - {i} = {a}")

15 - 1 = 14
15 - 2 = 13
15 - 3 = 12
15 - 4 = 11
15 - 5 = 10
15 - 6 = 9
15 - 7 = 8
15 - 8 = 7
15 - 9 = 6
15 - 10 = 5

In [22]:
#6 find the factors of 75
#num=75
num=eval(input("which number fators u want:"))
for i in range(1,num+1):
    if num%i==0:
        #print(i,num)
        print(f"{i} is the divisor of {num}")

which number fators u want: 75

1 is the divisor of 75
3 is the divisor of 75
5 is the divisor of 75
15 is the divisor of 75
25 is the divisor of 75
75 is the divisor of 75

In [4]:
#7 write the sum of first 10 natural numbers
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ} + {i} = {summ}")
    #print(summ)

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
45 + 9 = 45
55 + 10 = 55

**summation rapper**
- initially sum =0
- make sure that do not provide **sum**
- because sum is a keyword
- inside for loop we will write sum =sum+i

In [1]:
summ = 0
i = 1
while i <= 10:
    summ = summ + i
    print(f"{summ} + {i} = {summ}")
    i = i + 1

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
45 + 9 = 45
55 + 10 = 55

In [2]:
summ=0
for i in range(10):
    summ=summ+i+1
    print(f"{summ} + {i+1} = {summ}")

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
45 + 9 = 45
55 + 10 = 55

In [8]:
#8 vag of first 1 to 10 numbers
summ=0
N=eval(input("enter the number"))
for i in range(1,N+1):
       summ=summ+i
print(summ/N)

enter the number 10

5.5